# LOCAL DEVELOPMENT

JWT_SECRET=seu_jwt_secret_desenvolvimento_qualquer_valor
MONGO_URI=mongodb+srv://user:password@cluster.mongodb.net/pulse?retryWrites=true&w=majority
EMAIL_USER=seu_email@gmail.com
EMAIL_PASS=sua_app_password
GEMINI_API_KEY=sua_chave_desenvolvimento
FRONTEND_URL=http://localhost:5173
ALLOWED_ORIGINS=http://localhost:5173,http://localhost:3000,http://127.0.0.1:5173
NODE_ENV=development
PORT=5000

